* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.main {
    width: 400px;
    aspect-ratio: 10/16;
    border: 10px solid darkblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.display {
    flex: 1;
    display: flex;
    background-color: rgb(230, 230, 230);
    padding: 16px;
}

.display-2 {
    background-color: lightcyan;
    border: 1px solid black;
    flex: 1;
    display: flex;
    padding: 5px;
    justify-content: right;
    align-items: end;
    font-size: 30px;
}
.button-row {
    flex: 1;
    display: flex;
    background-color: rgb(230, 230, 230);
}

.btn {
    flex: 1;
    border: 2px solid black;
    font-size: 24px;
    border-radius: 10px;
    margin: 3px;
    transition: all 0.04s;
}

.sky {
    background-color: lightskyblue;
}

.deletion {
    background-color: lightcoral;
}

.oran {
    background-color: lightsalmon;
}

.green {
    background-color: lightslategray;
}

.pressed {
    transform: scale(0.8);
    box-shadow: 0 0 5px;
}